/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  
  
}

.white-text{
  color:white;
}

#outer-box{
  background-color: purple;
  /* Id selectors are more sensitive than class selector, if we set padding here as 20px, will see a change */
  /* padding:20px   */ 
  
}
.inner-box{
  background-color: red;
}